
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Administración Casinos UdeC: </span>
    <span class="toolbar-spacer"></span>
    <span>{{defaultCasino[0].nombreCasino}}</span>

    <span class="toolbar-spacer"></span>
    <div class="example-button-row">
      <a mat-button routerLink="/platos" routerLinkActive="active" >Lista de platos</a>
      <button mat-button>Cambiar de casino</button>
      <a mat-button routerLink="/sender" routerLinkActive="active">Subir minuta</a>
      <a mat-button routerLink="/" routerLinkActive="active" >Salir</a>
    </div>
    </mat-toolbar-row>
</mat-toolbar>
