<!--
<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Administración Casinos UdeC</span>
  </mat-toolbar-row>

</mat-toolbar>

<mat-card>

  <mat-card-header>
    <mat-card-title>
      Login Casinos UdeC
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>



  <mat-form-field>
    <input matInput="usuario" type="text" placeholder="E-mail">
  </mat-form-field>

    <mat-form-field>
      <input matInput="contraseña" type="password" placeholder="Contraseña">
  </mat-form-field>

    <div class="example-button-row">
      <button mat-raised-button color="primary">Ingresar</button>
    </div>

  </mat-card-content>

</mat-card>
-->

<mat-toolbar color="primary" ><span class="span"><h1>Bienvenidos a Casinos UdeC</h1></span></mat-toolbar>

<div class="card-container">

  <mat-card  class="card-content">

    <form class="form-elements" (submit)="loggIn($event)" >
      <br/>
      <p>LOGIN</p>
      <mat-form-field class="form-row">
        <span matTooltip="Username">
          <input matInput placeholder="E-mail" id="username" ngModel name="username" #username="ngModel" >
        </span>
        <span matPrefix></span>
      </mat-form-field>

      <mat-form-field class="form-row">
        <span matTooltip="Password">
          <input matInput placeholder="Contraseña" id="password" ngModel name="gpassword" #gpassword="ngModel"  type="password">
        </span>
        <span matPrefix></span>
      </mat-form-field>
      <br/>
      <a mat-raised-button color="primary" type="submit" routerLink="/home/platos" (click)="logIn(username.value, gpassword.value)" style="border-radius:15px;max-height:6vh;">Entrar</a>
    </form>

  </mat-card>
</div>
