.toolbar-spacer {
  flex: 1 1 auto;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.buscador{
  margin-left: 8px;
}
.bcontenedor{
  margin-top:8px;
  margin-bottom:auto;
}

.block{
  border-style:solid;
  border-color:black;
  margin-left:auto;
}

.buttonblock{
  border-style:solid;
  border-color:black;
  margin-right:auto;
  margin-left:auto;
}
